@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&display=swap");


h1{
    background-color: rgb(185, 63, 185);
    font-family: "League Spartan", sans-serif;
    height: 100px;
    font-size: 50px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}